<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Node JS</title>
    <style>
      body {
        color: white;
        background-color: black;
        padding-top: 100px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>About Hello Worm!</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde debitis,
      illum odit ipsum reprehenderit voluptas reiciendis dolorum aliquam
      repellendus repellat sequi illo voluptates nulla labore nihil vitae culpa
      distinctio maxime?
    </p>
    <a href="/">Main</a>
  </body>
</html>
